
<div class="main-content custom-container">
    <div class="container-fluid">
        <div class="row mx-auto">
            <div class="col-lg-4 col-md-4 col-sm-6 mr-auto mx-auto">
                <form novalidate method="" action="" class="form">
                    <div class="card card-login">
                        <div class="card-header card-header-danger text-center">
                            <h4 class="card-title">Log in</h4>
                            <div class="social-line">
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-description text-center">Or Be Classical</p>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                                  <span class="input-group-text">
                                                    <i class="material-icons">email</i>
                                                  </span>
                                    </div>
                                    <input type="email" placeholder="Email..." class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                                  <span class="input-group-text">
                                                    <i class="material-icons">lock_outline</i>
                                                  </span>
                                    </div>
                                    <input type="password" placeholder="Password..." class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer justify-content-center">
                            <a href="#/dashboard" class="btn btn-danger btn-round">Let's Go</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>